@import url(https://fonts.googleapis.com/css?family=Akronim);

.ring, .light {
  font-size: 10em;
  text-align: center;
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  border-radius: 300px;
  opacity: 0;
  backface-visibility: hidden;
  perspective:1000;
  transform: translateZ(0);
}

.ring {
  font-family: 'Akronim', cursive;
}
.ring.C4 { color: #FF3D7F; }
.ring.G4 { color: #FF9E9D; }
.ring.C5 { color: #DAD8A7; }
.ring.D5 { color: #7FC7AF; }
.ring.E5 { color: #3FB8AF; }

.light {
  background-image: radial-gradient(
    circle farthest-side,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
}
